<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TRIANON ANALYTICS</title>

    <link rel="icon" type="image/png" href="~/favicon.png" />
    <link href="~/css/thirdparty.bundle.css" rel="stylesheet" />

    @RenderSection("Css", false)
</head>
<body>
    <div class="container-fluid vh-100 d-flex flex-column">

        <main role="main" class="pb-3">
            @RenderBody()
        </main>

        @RenderSection("Scripts", false)
    </div>
</body>
</html>